@import "tailwindcss";
/* Oculta la barra de scroll en el catálogo manteniendo la funcionalidad táctil/ratón */
.style-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.style-scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}